# Mac
.DS_Store
**/.DS_Store

# vim/vi
*.swp

# JavaScript
node_modules/
.node_modules/
.eslintcache
unpackage/dist/
unpackage/release/

*.apk

# python
*.pyc

.idea
.vscode
.gitattributes
cloudfunctions-tcb/
